.main-exam{
 width: 100vh;
 height: 100vh;
 background-image: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);

}
.button1{
border-radius: 30px;
}

.exam{
margin: 0;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
background-color: #f0f8ff;
border-radius: 30px;    
box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
} 

.question{
 width: 100%;
}
/*
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
*/ 
    