* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} 
header{
  margin-top: 4.7rem;
}

.number-question{
  font-size: 1.3rem;
  font-weight: 700;
  padding: 1rem;
  font-style: italic;
  color: #2196F3;
}